# Diwali Sales Analysis

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv(r"C:\Users\HP\Desktop\demo\Diwali Sales Data.csv",encoding='latin1')
pd.set_option('display.max.rows',11252)
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.nunique()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.drop(['Status', 'unnamed1'], axis=1, inplace=True,errors='ignore')
pd.set_option('display.max.rows',11252)
df

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

In [ ]:
df[['Age','Orders','Amount']].describe()

# EDA

In [ ]:
ax = sns.countplot(x='Gender', data=df, palette=['purple', 'green'])
plt.title('Total Sales by Gender')
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_gender = df.groupby('Gender')['Amount'].sum().sort_values(ascending=False)
sales_gender_df = sales_gender.reset_index()
sns.barplot(x='Gender', y='Amount', data=sales_gender_df, palette=['purple', 'green'])
plt.title('Total Sales Amount by Gender')
for index, value in enumerate(sales_gender_df['Amount']):
    plt.text(index, value + 1000, f'{int(value):,}', ha='center', va='bottom')
plt.show()

In [ ]:
age_group_order = ['0-17','18-25','26-35','36-45','46-50','51-55','55+']
ax = sns.countplot(x='Age Group', data=df, palette=['purple', 'green'],hue='Gender',order=age_group_order)
plt.title('Total Sales by Age Group')
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_age_group = df.groupby('Age Group')['Amount'].sum().sort_values(ascending=False)
sales_age_group_df = sales_age_group.reset_index()
sns.barplot(x='Age Group', y='Amount', data=sales_age_group_df, palette=['purple', 'green'])
plt.title('Total Sales Amount by Age group')
plt.show()

In [ ]:
sales_state = df.groupby('State')['Orders'].sum().sort_values(ascending=False).head(10)
sales_state_df = sales_state.reset_index()
plt.figure(figsize=(20, 6))
sns.barplot(x='State', y='Orders', data=sales_state_df)
plt.ylabel('Total Orders')
plt.xlabel('States')
plt.title('Top 10 States by Orders')
plt.show()

In [ ]:
sales_state = df.groupby('State')['Orders'].sum().sort_values(ascending=False).tail(10)
sales_state_df = sales_state.reset_index()
plt.figure(figsize=(20, 6))
sns.barplot(x='State', y='Orders', data=sales_state_df)
plt.ylabel('Total Orders')
plt.xlabel('States')
plt.title('Bottom 10 States by Orders ')
plt.show()

In [ ]:
sales_state = df.groupby('State')['Amount'].sum().sort_values(ascending=False).head(10)
sales_state_df = sales_state.reset_index()
plt.figure(figsize=(20, 6))
sns.barplot(x='State', y='Amount', data=sales_state_df)
plt.ylabel('Total Amount')
plt.xlabel('States')
plt.title('Top 10 States by Amount')
for index, value in enumerate(sales_state_df['Amount']):
    plt.text(index, value + 1000, f'{int(value):,}', ha='center', va='bottom')
plt.show()

In [ ]:
sales_state = df.groupby('State')['Amount'].sum().sort_values(ascending=False).tail(10)
sales_state_df = sales_state.reset_index()
plt.figure(figsize=(20, 6))
sns.barplot(x='State', y='Amount', data=sales_state_df)
plt.ylabel('Total Amount')
plt.xlabel('States')
plt.title('Bottom 10 States by Amount')
for index, value in enumerate(sales_state_df['Amount']):
    plt.text(index, value + 1000, f'{int(value):,}', ha='center', va='bottom')
plt.show()

In [ ]:
sales_zone = df.groupby('Zone')['Orders'].sum().sort_values(ascending=False)
sales_zone_df = sales_zone.reset_index()
#plt.figure(figsize=(20, 6))
sns.barplot(x='Zone', y='Orders', data=sales_zone_df)
plt.ylabel('Total Orders')
plt.xlabel('Zones')
plt.title('Top 10 Zones by Orders')
plt.show()

In [ ]:
sales_zone = df.groupby('Zone')['Amount'].sum().sort_values(ascending=False)
sales_zone_df = sales_zone.reset_index()
#plt.figure(figsize=(20, 6))
sns.barplot(x='Zone', y='Amount', data=sales_zone_df)
plt.ylabel('Total Amount')
plt.xlabel('Zones')
plt.title('Top 10 Zones by Amount of Sales')
for index, value in enumerate(sales_zone_df['Amount']):
    plt.text(index, value + 1000, f'{int(value):,}', ha='center', va='bottom')
plt.show()

In [ ]:
plt.figure(figsize=(20, 6))
ax = sns.countplot(x='Occupation', data=df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_occupation = df.groupby('Occupation')['Orders'].sum().sort_values(ascending=False)
sales_occupation_df = sales_occupation.reset_index()
plt.figure(figsize=(20, 6))
sns.barplot(x='Occupation', y='Orders', data=sales_occupation_df)
plt.ylabel('Total Orders')
plt.xlabel('Occupations')
plt.title('Orders By Occupations')
plt.show()

In [ ]:
sales_occupation = df.groupby('Occupation')['Amount'].sum().sort_values(ascending=False)
sales_occupation_df = sales_occupation.reset_index()
plt.figure(figsize=(20, 6))
sns.barplot(x='Occupation', y='Amount', data=sales_occupation_df)
plt.ylabel('Total Amount')
plt.xlabel('Occupations')
plt.title('Sales By Occupations')
for index, value in enumerate(sales_occupation_df['Amount']):
    plt.text(index, value + 1000, f'{int(value):,}', ha='center', va='bottom')
plt.show()

In [ ]:
plt.figure(figsize=(27, 6))
ax = sns.countplot(x='Product_Category', data=df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_product = df.groupby('Product_Category')['Orders'].sum().sort_values(ascending=False).head(10)
sales_product_df = sales_product.reset_index()
plt.figure(figsize=(20, 6))
sns.barplot(x='Product_Category', y='Orders', data=sales_product_df)
plt.ylabel('Total Orders')
plt.xlabel('Product Category')
plt.title('Top 10 Product Category by Orders')
plt.show()

In [ ]:
sales_product = df.groupby('Product_Category')['Amount'].sum().sort_values(ascending=False).head(10)
sales_product_df = sales_product.reset_index()
plt.figure(figsize=(20, 6))
sns.barplot(x='Product_Category', y='Amount', data=sales_product_df)
plt.ylabel('Total Sales Amount')
plt.xlabel('Product Category')
plt.title('Top 10 Product Category by Amount')
for index, value in enumerate(sales_product_df['Amount']):
    plt.text(index, value + 1000, f'{int(value):,}', ha='center', va='bottom')
plt.show()

In [ ]:
ax = sns.countplot(x='Marital_Status',width=0.5,data=df, palette=['purple', 'green'])
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_marital_status = df.groupby(['Marital_Status','Gender'])['Orders'].sum().sort_values(ascending=False)
sales_marital_status_df = sales_marital_status.reset_index()
plt.figure(figsize=(10, 5))
sns.barplot(x='Marital_Status', y='Orders',hue='Gender',width=0.5, data=sales_marital_status_df, palette=['purple','green'])
plt.ylabel('Total Orders')
plt.xlabel('Marital Status')
plt.title('Orders by Marital Status')
plt.show()

In [ ]:
sales_marital_status = df.groupby(['Marital_Status','Gender'])['Amount'].sum().sort_values(ascending=False)
sales_marital_status_df = sales_marital_status.reset_index()
plt.figure(figsize=(10, 5))
sns.barplot(x='Marital_Status', y='Amount',hue='Gender',width=0.5,data=sales_marital_status_df,palette=['purple','green'])
plt.ylabel('Total Amount')
plt.xlabel('Marital Status')
plt.title('Amount by Marital Status')
plt.show()